@import url("./utils/index.css");
@import url("./components/index.css");
@import url("./layout/index.css");


:root{
  --pumpkin-50:   #FAEBDC;
  --pumpkin-100:  #F7CB9E;
  --pumpkin-200:  #F5AB62;
  --pumpkin-300:  #F2963A;
  --pumpkin-400:  #E88725;
  --pumpkin-500:  #BF6913;
  --pumpkin-600:  #82460A;
  --pumpkin-700:  #3B1F04;
  --pumpkin-800:  #261402;
  --pumpkin-900:  #120900;
  --brown-50:     #E0DCD7;
  --brown-100:    #C2AB93;
  --brown-200:    #857565;
  --brown-300:    #5C5146;
  --brown-400:    #3D362F;
  --brown-500:    #292521;
  --typeface--body:  'Inter', sans-serif;
  --typeface--heading:  'Poppins', sans-serif;
  --module-size: 1rem;
}


/* resets */

body{
  color: var(--brown-50);
  font-family: var(--typeface--body);
  line-height: 1.5rem;
  min-height: 100vh;
  overflow-x: hidden;
}

@media screen and (min-width: 800px) {
  body{
    background: #f6f6f6;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  body header{
    grid-column: 1/ span 4;
  }

  body > .image{
    position: initial;
    grid-column: 5/ -1;
  }

  body .image img{
    object-fit: cover;
    height: 100%;
  }

  body main{
    grid-column: 3/ -1;
  }
}



