.l-hero{
  padding: 1rem;
}

.logo{
  margin-bottom: 128px;
}

.l-hero p {
  margin-bottom: 1rem;
}

.l-hero div {
  align-items: center;
  display: flex;
  gap: 8px;
  padding-bottom: 1rem;
}

.l-hero div .button {
  flex: 0 0 fit-content;
}

.l-hero .c-contacts{
  justify-content: flex-start;
  padding: 0;
  max-width: 400px;
}

@media screen and (min-width: 800px) {
  .l-hero{
    box-shadow: none;
    color: var(--brown-300);
  }

  .l-hero .c-heading + p{
    margin-bottom: 24px;
  }

  .l-hero > div {
    max-width: 460px;
    margin-bottom: 24px;
  }
}