/* Texts */
.c-heading{
  color: #fff;
  font: 700 calc(var(--module-size) * 3.5)/60px var(--typeface--heading);
  margin-bottom: .75rem;
}
.c-heading--xxl{
  color: var(--brown-700);
  display: none;
  font: 700 128px/ 100% var(--typeface--heading), sans-serif;
}

@media screen and (min-width: 800px) {
  .c-heading{
    color: var(--pumpkin-700);
  }
}

@media screen and (min-width: 900px){
  .c-heading--xxl{
    display: block;
    max-width: 540px;
    opacity: .04;
    position: absolute;
    top: 32px;
    z-index: -1;
  }
}